<!DOCTYPE html>
<html>
  <head>
    <%- include('./public/common') %>
  </head>
  <body>
        <form class="layui-form" action="">
            <div class="layui-form-item">
              <label class="layui-form-label">用户名</label>
              <div class="layui-input-block">
                <input name="userName" type="text" required lay-verify="required" autocomplete="off" class="layui-input">
              </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">备注</label>
                <div class="layui-input-block">
                  <input name="userPassword" type="text" required lay-verify="required" autocomplete="off" class="layui-input">
                </div>
              </div>
            <div class="layui-form-item">
              <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">添加</button>
              </div>
            </div>
          </form>
  </body>
</html>
<style>
  .layui-form{
    width: 400px;
    padding-top: 50px;
  }
</style>
<script>
  let form = layui.form;
  form.on('submit(formDemo)', function(data){
    axios.post('/api/users',data.field).then(res=>{
        layer.msg(res.data.message);
        setTimeout(()=>{
          let index = parent.layer.getFrameIndex(window.name); 
          parent.layer.close(index); 
        },1000)
      })
      .catch(err=>{
        console.log(err)
      })

    return false;
  });



  

  

  
</script>
