<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>LifeRecord</title>
    <link rel='stylesheet' href='/style.css' />
    <link rel='stylesheet' href='/layui/css/layui.css' media="all"/>
  </head>
  <body>
    <h1>这是首页</h1>
  </body>
</html>
<style>
</style>
<script src="/layui/layui.all.js" charset="utf-8"></script>
<script src="/axios/axios.min.js"></script>
<script>

</script>
