<!DOCTYPE html>
<html>
  <head>
      <%- include('./public/common') %>
  </head>
  <body>
      <div class="content">
        <span class="layui-breadcrumb">
          <a href="javascript:;">博客 / </a>
          <a><cite>管理</cite></a>
        </span>
        <table class="layui-hide" id="test" lay-filter="test"></table>
        <script type="text/html" id="barDemo">
          <a class="layui-btn layui-btn-xs" lay-event="del">删除</a>
        </script>
      </div>
  </body>
</html>
<style>
</style>
<script>
var table = layui.table;
  table.render({
    elem: '#test'
    ,url:'/api/messages'
    ,title: '留言表'
    ,cols: [[
      {field:'_id', title:'留言编号', sort: true}
      ,{field:'name', title:'姓名'}
     ,{field:'phone',title:'电话'}
     ,{field:'email',title:'邮箱'}
     ,{field:'compony',title:'公司'}
     ,{field:'content',title:'留言内容'}
     ,{fixed: 'right', title:'操作', toolbar: '#barDemo'}
    ]]
    ,page: true
  });
  
  table.on('tool(test)', function(obj){
    var data = obj.data;
    if(obj.event === 'del'){
      layer.confirm('确认删除此留言？', function(index){
        axios.delete('/api/messages',{
          params:{
            _id:data._id
          }
        }).then(res=>{
          layer.msg(res.data.message);
        })
        obj.del();
        layer.close(index);
      });
    }
  });
</script>
