<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/style.css' />
  </head>
  <body>
    <h1>您暂无权限进行此操作</h1>
  </body>
</html>
<style>

</style>
<!-- <script src="/layui/layui.all.js" charset="utf-8"></script> -->

