<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>LifeRecord</title>
    <link rel='stylesheet' href='/style.css' />
    <link rel='stylesheet' href='/layui/css/layui.css' media="all"/>
  </head>
  <body>
    <div class="content">
        <span class="layui-breadcrumb">
          <a href="javascript:;">博客</a>
          <a><cite>发布</cite></a>
        </span>
        <div class="blog">
          <div>
              <input type="text" id="title" required lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">  
          </div>
          <div id="editor"></div>
          <div>
            <button class="layui-btn" lay-submit lay-filter="formDemo" onclick="publish()">发布</button>
            <button class="layui-btn" lay-submit lay-filter="formDemo" onclick="editor.txt.clear()">清空</button>
          </div>
        </div>
    </div>
  </body>
</html>
<style>
  .blog>div{
    margin-top: 10px;
  }
</style>
<script src="/layui/layui.all.js" charset="utf-8"></script>
<script src="/axios/axios.min.js"></script>
<script src="/editor/release/wangEditor.min.js"></script>
<script>
  //创建编辑器
  let E = window.wangEditor
  let editor = new E('#editor')

  editor.customConfig.uploadImgServer = 'http://localhost:3000/api/upload'; //上传图片地址接口
 //设置上传图片的header
    editor.customConfig.uploadImgHeaders = {
      'enctype':'multipart/form-data'
    };

  editor.customConfig.uploadFileName = 'mypic';

  editor.create();
 
  function publish(){
    let title=document.querySelector('#title').value;
    let content=editor.txt.html();
    let date=new Date().toLocaleString();
    if(title!==''&&content!=='<p><br></p>'){
      axios.post('/api/blogs',{
        userId:'123456',
        blogTitle:title,
        blogContent:content,
        publishTime:date
      }) 
      .then(res=>{
        layer.msg(res.data.message);
        editor.txt.clear();
        document.querySelector('#title').value='';
      })
      .catch(err=>{
        console.log(err)
      })
    }
  }
</script>
