<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>LifeRecord</title>
    <link rel='stylesheet' href='/style.css' />
    <link rel='stylesheet' href='/layui/css/layui.css' media="all"/>
  </head>
  <body>
    <div class="content">
        <span class="layui-breadcrumb">
            <a href="javascript:;">用户权限设置</a>
            <a><cite>用户管理</cite></a>
          </span>
      <table class="layui-hide" id="test" lay-filter="test"></table>
      <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="edit">修改角色</a>
      </script>
    </div>
  </body>
</html>
<script src="/layui/layui.all.js" charset="utf-8"></script>
<script>
  var table = layui.table;
  table.render({
    elem: '#test'
    ,url:'/api/users'
    ,title: '用户表'
    ,cols: [[
      {field:'_id', title:'用户编号', sort: true}
      ,{field:'userName', title:'用户名'}
     ,{field:'userPassword',title:'用户密码'}
     ,{field:'headImage',title:'头像'}
     ,{field:'loverId',title:'情侣'}
     ,{field:'roleId',title:'角色',templet: `<div>{{d.roleId.roleName}}</div>`}
     ,{fixed: 'right', title:'操作', toolbar: '#barDemo'}
    ]]
    ,page: true
  });
  //监听行工具事件
  table.on('tool(test)', function(obj){
    let data = obj.data;
    if(obj.event === 'del'){
      layer.confirm('真的删除行么', function(index){
        obj.del();
        layer.close(index);
      });
    } else if(obj.event === 'edit'){
      layer.open({
        title:'添加用户',
        type: 2, 
        content: ['/changeRole', 'no'],
        area: ['500px', '400px'],
        success: function(layero, index){
          let body = layer.getChildFrame('body', index);
          body.find('#userName').val(data.userName)
          body.find('#userId').val(data._id)
        }
      }); 
    }
  });

</script>
