<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel='stylesheet' href='/layui/css/layui.css' media="all"/>
  </head>
  <body>
      <div class="headbar">
          <div>个人博客</div>
          <div id="login"><a href="#">退出</a></div>
          <div id="nologin"><a href="/login">登录</a></div>
        </div>
            <!-- 垂直菜单栏-->
            <ul class="navbar layui-nav layui-nav-tree layui-inline" lay-filter="demo">
                <li class="layui-nav-item layui-nav-itemed">
                    <a>权限</a>
                    <dl class="layui-nav-child">
                    <dd><a href="/userManage" target="Ciframe">用户管理</a></dd>
                    <dd><a href="/roleManage" target="Ciframe">角色管理</a></dd>
                    <dd><a href="/limitManage" target="Ciframe">权限管理</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a>博客</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/publishBlog" target="Ciframe">发布</a></dd>
                    <dd><a href="/blogManage" target="Ciframe">管理</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">其它</a></li>
            </ul>
  </body>
</html>
<script src="/layui/layui.all.js" charset="utf-8"></script>
<script>
  if(sessionStorage.sessionId!==undefined){
    document.querySelector('#nologin').style.display='none';
  }else{
    document.querySelector('#login').style.display='none';
  }
</script>
<style>
    body{
      display: flex;
      flex-flow: row wrap;
    }
  .navbar{
    height:-webkit-fill-available;
    border-radius: 0;
  }
  .headbar{
    width: 100%;
    /* height: 50px; */
    background: #23262E;
    color: #fff;
    line-height: 50px;
    padding:0 50px;
    display: flex;
    justify-content: space-between;
  }
  .headbar a{
    color: #fff;
  }
  </style>
